.nyc_output/
**/.vscode/
version.ts
**/node_modules
**/dist
**/docs
**/vscode
**/package.json
**/yarn.lock
**/package-lock.json
**/.eslintrc
docs/api
.vscode/
webpack.config.js
webpack.config.dev.js
dist/
node_modules/
*.config.*
index.js
release.js
